[2020-02-13 15:24] dominiquelee opened #3 "`make` fails on 10.14.6 ("has __UNIXSTACK, but wrong ::maxprot (should be 7)")"
On a Mojave 10.14.6, building the current master (https://github.com/LouisBrunner/valgrind-macos/commit/a8e287909c049c04a388b45cc8ae22d0750ad2ea) with
[code]
results in
[code]

[2020-02-14 19:42] LouisBrunner commented on #3
@dominiquelee, thanks for your report, it was reported on the bugtracker (https://bugs.kde.org/show_bug.cgi?id=399584) but it might be easier to debug here.

I am using 10.14.6 as well and I don't get this issue. The problem should be fairly easy to fix but I want to be sure of what is going on.

Could you please paste the output of `./configure`?

[2020-02-17 09:10] dominiquelee commented on #3
Sure.
`./configure --prefix=/usr/local/valgrind/bin --enable-only64bit`
[configureOutput.txt](https://github.com/LouisBrunner/valgrind-macos/files/4212742/configureOutput.txt)

[2020-02-17 20:24] LouisBrunner commented on #3
Thanks, it is what I thought. I am finalising some other work and I will get on right after.

[2020-02-17 21:49] LouisBrunner commented on #3
Could you try the [feature/xcode_check](https://github.com/LouisBrunner/valgrind-macos/tree/feature/xcode_check) branch?

[2020-02-18 03:36] Akylzhan commented on #3
@LouisBrunner , I have another error, even with **xcode_check** branch
`Making all in coregrind
(cd m_mach && mig /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.15.sdk/usr/include/mach/mach_vm.defs /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.15.sdk/usr/include/mach/task.defs /Applications/Xcode.app/Conte

[2020-02-18 08:53] dominiquelee commented on #3
On my side, it's indeed working fine. I guess it's worth adding I have Xcode 11.3.1 (11C504).
Thanks for the debugging!

[2020-02-20 09:17] LouisBrunner commented on #3
@dominiquelee, thanks for the confirmation!

@Akylzhan, I have run into a similar issue before, I think it was linked to a setup issue.
Can you check if `/usr/include/mach/` still exist on your system?
If you could run `env` and post the result, that might also be helpful.
Moreover, looking at your `configure` output, it seems to be picking up `gcc-9` instead of `clang` (as it seems like it is com

[2020-02-20 09:45] Akylzhan commented on #3
There is no such directory
Output of env:
[code]

[2020-02-20 20:41] LouisBrunner commented on #3
@Akylzhan, let's try the gcc route then. I forgot that you don't need to disable/remove your extra gcc, you can just force `configure` to find the right one, just run `CC=/usr/bin/gcc ./configure`

[2020-02-21 04:55] Akylzhan commented on #3
@LouisBrunner the same error occurred

[2020-02-21 09:16] LouisBrunner commented on #3
@Akylzhan I'll need the `configure` output again to know what is going on

[2020-02-23 08:46] Akylzhan commented on #3
@LouisBrunner thanks for the support, now I have tried to install it again and valgrind installs with brew, but the new problem occurred when I used valgrind to check for mem.leaks in empty c++ executable and it shows many definitely lost leaks

[2020-02-23 10:11] LouisBrunner commented on #3
@Akylzhan That's a different problem, please create a new issue including the output of valgrind, what was expected, etc.

[2020-02-23 10:11] #3 closed

[2020-02-23 13:32] Qix- opened #4 "Crash when running CoreFoundation applications (and wqthread-related problems)"
I'm trying really hard to debug this but getting nowhere, even with `lldb`, `vgdb` and `valgrind --vgdb=yes`.

The new valgrind patch for MacOS mojave results in a successful install but on a few non-trivial applications Memcheck is causing a `SIGILL` to be raised. The application in question runs fine, otherwise.

Here is the stack:

[code]

The only other output comes before the application even

[2020-02-23 13:59] LouisBrunner commented on #4
@Qix-, thanks for your report!

The `UNKNOWN mach_msg unhandled MACH_SEND_TRAILER option` messages are not relevant for this problem (but we should fix them sooner or later...).

Without a program to test, it will be extremely tricky for me to debug. As `_CFPrefsExtractQuadrupleFromPathIfPossible` appears in the stacktrace, CoreFoundation is involved which means we might be able to reproduce it on

[2020-02-23 14:30] LouisBrunner commented on #4
I actually managed to reproduce the problem fairly easily, running valgrind with Hex Fiend (I am guessing any `.app` will work).

I have good and bad news: I already have a fix which I recovered from an old patch (you can try it [here](https://github.com/LouisBrunner/valgrind-macos/tree/feature/kevent_id)), however you will probably run into another problem rightaway: SIGSEGV on `start_wqthread`.

[2020-02-23 14:41] Qix- commented on #4
Yep definitely using CoreFoundation (it's a game engine, with a bunch of window calls). Glad it wasn't localized to my application ^^

As for testing the patches, should I rebase one onto the other in order to test both, or does the last link include them both? And should I build via the makefiles or is there a fancy `brew` command to do so?

[2020-02-23 15:04] LouisBrunner commented on #4
I just merged `kevent_id` because it was done and now it's obvious that it's needed. Which means you could use the `feature/wqthread_fix` branch directly (keeping in mind that it will probably crash).

Unfortunately, I am not aware of any brew command that does that, you will need to build via the Makefile.

[2020-02-23 16:07] Qix- commented on #4
Output from `feature/wqthread_fix`. Built valgrind with `./autogen.sh && ./configure && make && sudo make install && valgrind /path/to/my/app`

[code]

If you'd like, I can do a run with the high-verbosity flags you mentioned before.

[2020-02-23 16:17] LouisBrunner commented on #4
No it's alright, I get the exact same error, so at least there is comfort in that...

I'll need to continue working on the wqthread fix as it's obviously still buggy.

[2020-02-23 16:25] Qix- commented on #4
Alright, sounds good :) Let me know if I can help in any way! Thanks for all of the work you've done, it's incredibly appreciated.

[2020-03-05 22:51] LouisBrunner commented on #4
Thanks a lot for your kind words! I will try to look into it, but if you want to investigate yourself, it would be greatly appreciated.

[2020-04-13 16:20] jpflori opened #5 "Missing symbols for _mig_strncpy[_zerofill]"
On my computer, using 10.15.4, make fails at the linking stage complaining about missing symbols _mig_strncpy[_zerofill].
Simply putting the implementation from
https://github.com/apple/darwin-xnu/blob/master/libsyscall/mach/mig_strncpy.c
into a mach_strncpy.c file in coregrind/m_mach/ and adding it to the build process seems to work, e.g. with patch below.
Maybe stubs would be enough, I have no i

[2020-04-22 07:28] find1dream commented on #5
Thanks, I'm also using macOS 10.15.4, and used the method mentioned above, it works.

[2020-04-22 14:57] LouisBrunner commented on #5
Hi @jpflori, thanks for your report!

I have now fixed that issue, I am trying to sort out some issues with the CI right now and I will push something on master soon.

However I don't think importing the file is possible. XNU is licensed as APSL (Apple Public Source License v2) which seems incompatible with GPL (license used by Valgrind), so I did a "clean room implementation" based on the header

[2020-04-22 15:45] jlouazel commented on #5
Hi @jpflori, thanks for the help!

I am running on 10.15.3 here, and I'm getting an error due to missing magic number here: https://github.com/LouisBrunner/valgrind-macos/blob/master/coregrind/m_syswrap/syswrap-x86-darwin.c#L428-L434

Seems like `10_15` is not present there. Wondering still why you didn't get the issue on your side 🤔

[2020-04-22 15:58] LouisBrunner commented on #5
@jlouazel Work Queue Threads (wqthread) are unsupported at the moment (see #4).

[2020-04-23 16:29] solzard opened #6 "macOS 10.14.6: install fails from `brew`"
On macOS Mojave 10.14.6, `brew install --HEAD https://raw.githubusercontent.com/LouisBrunner/valgrind-macos/master/valgrind.rb` fails.

[code]

[code]

[2020-04-23 19:39] LouisBrunner commented on #6
Hi @solzard,
Unfortunately, the issue seems to be a problem with git or GitHub side (it can't even download the repo). Could it be a temporary networking issue? See https://github.com/Homebrew/brew/issues/1414 or https://gitlab.com/gnachman/iterm2/issues/6590 (might need to disable git proxying?)

[2020-04-23 20:52] solzard commented on #6
Hi @LouisBrunner,
Thank you for informing me of related issues.
It seems my new firewall settings silently rejected `git-remote-http(s)`.
After fixing it, the terminal started installing; however, I got another error.

[code]

[2020-04-24 16:26] LouisBrunner commented on #6
That should be easy enough to fix. Can you tell me what version of Xcode you have installed?

[2020-04-24 17:26] solzard commented on #6
[code]

[2020-04-25 13:58] LouisBrunner commented on #6
So there are multiple issues at play here:
 - `brew` uses a different SDK than CommandLine or Xcode (error: `fail: has __UNIXSTACK, but wrong ::maxprot (should be 7)`), I don't know yet if the best way to fix this is improve the `brew` formula or improve valgrind's SDK detection
 - the build breaks with the Xcode SDK on 10.14.6 (error: `type 'task_exc_guard_behavior_t' not defined`), I have seen t

[2020-04-25 16:22] solzard commented on #6
Here's the log in full width.
`./configure` has the same option as yours.
[code]

[code]

[2020-04-26 22:38] nickycutesc commented on #6
Hey Louis, great project! I noticed that this project's install script is very similar to this script:

https://github.com/sowson/valgrind/blob/master/valgrind.rb

It seems like you are checking for Xcode a bit differently. ^ I was able to successfully install Valgrind using the above mentioned script.

[2020-04-26 23:17] LouisBrunner commented on #6
Unfortunately, that isn't enough to build reliably on every system. Depending on what SDK you have currently selected using `xcode-select` (CLI or Xcode), the build will still fail.
I am currently trying to unify the build process to ensure that SDK versions are correctly detected.

The above fix will only work if the currently selected SDK is CLI (which was GitHub and mine and thus why I never ca

[2020-04-27 01:56] LouisBrunner commented on #5
I have now merged the fix to `master`, can you please confirm it is building and working as expected?

[2020-04-27 01:57] LouisBrunner commented on #6
I have now merged the fix to `master`, can you please confirm it is building and working as expected?

[2020-04-27 02:06] nickycutesc commented on #6
<img width="573" alt="image" src="https://user-images.githubusercontent.com/24903257/80327462-2e88f700-880a-11ea-8733-612af06648d2.png">
 It worked!

[2020-04-27 02:35] solzard commented on #6
I could install it successfully. It works properly in some small test codes.
I really appreciate you, Louis!

[2020-04-27 05:11] solzard commented on #6
Just a question.
Is `brew upgrade` fine to upgrade this Valgrind?
Or, tapping `brew install --force --HEAD https://raw.githubusercontent.com/LouisBrunner/valgrind-macos/master/valgrind.rb`?

`brew upgrade` caused weird behaviors: trying to upgrade **from** the latest version and showing the installation error of the original Valgrind.
[code]

[2020-04-27 10:44] LouisBrunner commented on #6
I don't know enough about `brew` and how it updates but it seems to be fetching from the upstream who doesn't support Mojave and later.
You might need to `brew pin valgrind` to ensure it doesn't get updated and then manually rerun `brew install --HEAD https://raw.githubusercontent.com/LouisBrunner/valgrind-macos/master/valgrind.rb` (potentially with a `brew remove valgrind` before) when you want t

[2020-04-27 14:34] jpflori commented on #5
Works great. Thx.

[2020-04-27 14:34] #5 closed

[2020-05-04 20:29] LouisBrunner commented on #6
@solzard,

Good news, I have found a way to solve that issue. After @YsHaNgM suggested adding a Homebrew Tap, I did just that and it works great!

See the [Tap repository](https://github.com/LouisBrunner/homebrew-valgrind) for full information. TL;DR: you just need to do `brew tap LouisBrunner/valgrind` and then use `brew install --HEAD LouisBrunner/valgrind/valgrind`. Once you do that, you can `b

[2020-05-04 21:24] YsHaNgM commented on #6
@LouisBrunner Great job! Apart from the tapping way, the aforementioned "change the repository used in `brew` itself", what's the requirements from `brew`? Do you have to build binary releases for each macOS versions?

[2020-05-04 21:35] LouisBrunner commented on #6
I have no idea. I imagine they might not be too pleased with the lack of binary releases and my erratic branch management.

I guess there is no harm in asking, I will put in down on my list.

[2020-05-04 23:17] solzard commented on #6
@LouisBrunner Fantastic! I confirmed it works on my environment too.
How about adding this tip on README? It must help future users.

[2020-05-10 06:11] sweetodev opened #7 "Warnings with every piece of test"
These set of 3 warnings are repeatedly coming across on Catalina while running valgrind.

Same set of code was tested on Ubuntu without any errors, so I'm sure it's not the code and something else.

Here's a screenshot.  https://i.stack.imgur.com/hJkAF.png

[2020-05-19 12:31] TonioGela commented on #6
Hi @LouisBrunner ,
I'm still getting the aforementioned error despite I have tapped the repo and trying to install it with `brew install --HEAD LouisBrunner/valgrind/valgrind`
I noticed that despite having xcode normally installed my `./configure` line lacks the last flag `--with-xcode-path=/Library/Developer/CommandLineTools/SDKs/MacOSX10.14.sdk`

I'm on
`macOS Mojave 10.14.6`
using
`Homebrew 2.2

[2020-06-05 10:45] oscarbg opened #8 "Valgrind 3.16 support?"

[2020-06-06 13:59] Zialus opened #9 "Upstream Changes."
What is the current Progress on upstreaming these changes?

Related topic: https://bugs.kde.org/show_bug.cgi?id=412745

[2020-06-09 12:50] reuben opened #10 "Crash in dyld during program initialization on macOS 10.15.6 Beta (19G36e)"
[code]

[2020-06-09 12:50] reuben commented on #10
Built from source on 36f444cf0a250a64e5d4ad44e9fd796ced999b36

[2020-06-09 12:51] reuben commented on #10
(I understand it's a beta OS version and thus not supported, just reporting in case others think it's something particular to their machine)

[2020-06-09 16:35] LouisBrunner commented on #10
Hi @reuben,

Thanks a lot for your report!

As I don't have an environment to test that myself, it will be a bit tricky to debug (and until Apple releases the new dyld source code as well). However I will keep you up to date if there is any fix or test I can think of.

[2020-06-09 16:39] LouisBrunner commented on #9
Hi @Zialus,

I would love to get these changes upstream but there doesn't seem to be much appetite/time for macOS support... (or potentially no confidence in my fixes as macOS support as been broken for so long that most of the regression test suite is failing)

I have already posted a few times patches (e.g. [multithreading fix](https://bugs.kde.org/show_bug.cgi?id=380269)) or even my full reposi

[2020-06-09 16:43] LouisBrunner commented on #6
@TonioGela could you send me the files contained in `~/Library/Logs/Homebrew/valgrind`?

[2020-06-09 16:44] LouisBrunner commented on #8
I will look into merging the upstream changes soon.

[2020-06-09 18:55] reuben commented on #10
@LouisBrunner thanks a lot for your work on this project!

[2020-06-16 11:25] dzpt opened #11 "leak on every single simple program"
macos 10.15.2

[code]

the piece of `valgrind --leak-check=full`

[2020-06-17 22:29] LouisBrunner commented on #11
Hi @dzpt,

Thank you for your report!
This issue should be addressed pretty soon as part of #7.

[2020-06-17 22:29] #11 closed

[2020-06-18 11:57] LouisBrunner commented on #8
The latest valgrind changes are now available `master` (and thus through `brew`).

[2020-06-18 11:57] #8 closed

[2020-06-18 11:58] LouisBrunner commented on #7
I have added more suppressions which should hide these leaks, these changes are available in `master` (and thus through `brew`).

[2020-06-18 11:58] #7 closed

[2020-06-18 13:19] YsHaNgM opened #12 "Brew upgrade not working"
`brew upgrade LouisBrunner/valgrind/valgrind` only throws `Warning: louisbrunner/valgrind/valgrind HEAD-36f444c already installed`. Although exist HEAD version 3adf690 at the time point. The upgrade process can only be done by `brew reinstall valgrind`.

[2020-06-18 18:20] LouisBrunner commented on #12
I think it depends on the Brew's cache of the latest HEAD. You can force it using `brew upgrade --fetch-HEAD LouisBrunner/valgrind/valgrind`.

I will update the README to make this clearer, thanks!

[2020-06-18 18:20] #12 closed

[2020-06-18 20:11] LouisBrunner commented on #10
Just to keep you up to date, I think I have found the cause of the crash.
However I don't know (and properly never will) why it is different between 10.15.4 and 10.15.6 and how to properly fix it.

It seems to be linked to a similar bug that appeared in 10.13 or 10.14 linked to TLS (`%gs` register) which was making every pthread related code crash. As I have fixed that bug in this fork, I don't kn

[2020-06-25 19:31] TheButlah opened #13 "Crash when importing opencv in python"
_Potentially related to #4_

### Problem Description
Valgrind crashes when importing opencv in Python. This crash does not occur when not using valgrind. I'm very new to valgrind - is this considered a bug?

### System info
**OS:** Mac OS 10.15.5
**Valgrind Version:** Latest head version (commit 3ab1ae5a892fa7b2e904439e313cee2574515b98)
**Python version:** Python 3.6.9 (from pyenv, compiled with `

[2020-06-26 12:37] LouisBrunner commented on #13
Hi @TheButlah,

Thank you for the bug report! I will take a look soon, as you mentioned, it might be linked to wqthread or maybe me badly handling some extra checks I added.

[2020-07-23 09:07] hanayashiki opened #14 "Valgrind crashes with libcurl on macos 10.15.4 catalina"
Source code:
[code]

libcurl version:
[code]

macos version:

![image](https://user-images.githubusercontent.com/26056783/88269582-27e31200-cc89-11ea-88a9-868a55958fcc.png)

output
[code]

valgrind version
[code]

[2020-07-25 17:33] hanayashiki commented on #14
Does this also happen on other platforms?

[2020-07-28 10:54] LouisBrunner commented on #14
Hi @hanayashiki,

You seem to be running in the same issue as #13, which is one of my attempts to fix a warning in valgrind that backfired. I will try to get it fixed soon.

[2020-07-31 02:14] hanayashiki commented on #14
thank you!

[2020-08-01 21:09] Axenow commented on #6
Hi @TonioGela.
Just want to help you if you still needed it.
I had totally the same issue like you. Just try to download https://download.developer.apple.com/Developer_Tools/Command_Line_Tools_for_Xcode_11.3/Command_Line_Tools_for_Xcode_11.3.dmg
Even if you have the version of CMT for Xcode 11.2 it may not compile for you.

@LouisBrunner Very big thank you for your work.

[2020-08-01 21:14] TonioGela commented on #6
@LouisBrunner @Axenow sorry for the late response, I have to admit that I completely forgot this thread. I can confirm btw that updating CLI tools works fine even for me.
Louis,t hanks again for your work!

[2020-08-02 02:07] tknight321 opened #16 "Can't install valgrind with Xcode 11.x"
Hi, I tried to install valgrind on my computer:
MacOS Cataline 10.15.6
Homebrew 2.4.9-164-gdf16e9f
Xcode 11.6

I got below error and not quite sure why

[code]

Should I downgrade XCode to ver 11.0?
Any help would be really appreciated.

[2020-08-02 17:24] LouisBrunner commented on #6
Thanks for the confirmation, I will add a line in the README!

[2020-08-02 17:24] #6 closed

[2020-08-04 17:55] LouisBrunner commented on #13
I reverted some checks to be internal warnings again, you might want to give it a try again? (hopefully you don't run into any `wqthread` issues).

[2020-08-04 17:55] LouisBrunner commented on #14
I reverted some checks to be internal warnings again, you might want to give it a try again?

[2020-08-04 21:59] hanayashiki commented on #14
I uninstalled and reinstalled valgrind using the cmd given in your readme. There are still errors but different. The output from the same code:
[code]

[2020-08-05 11:39] LouisBrunner commented on #14
Ok, so it's just a missing syscall, that should be easy enough to add, I'll keep you up to date.

[2020-08-06 09:50] LouisBrunner commented on #14
@hanayashiki I am working through it now, however it looks like it's not crashing anymore?

[2020-08-06 23:13] hanayashiki commented on #14
I hope I was reinstalling in the correct way, but the error persists.
[code]

This is the log of reinstalling:
[code]

[2020-08-07 03:25] Anxdada opened #15 "Missing system suppressions in 10.15.3"
source code:
[code]

execute the following commands in order:
[code]

here is output after executing  above command:
[code]

macOS version:
[code]

valgrind version:
[code]

[2020-09-04 16:16] LouisBrunner commented on #16
I just tried with `10.15.4` and it builds, if there any newer Xcode for `10.15` they probably should work too (`11.0` is definitely unsupported at the moment).

[2020-09-05 17:44] vamsikt commented on #16
when tried using the `10.X Xcode version` on MacOSX version `10.15.6`, got an Xcode outdated version error but with Xcode 11 seeing the above error as mentioned in [issue](https://github.com/LouisBrunner/valgrind-macos/issues/16#issue-693347587)
[code]

[2020-09-07 09:45] LouisBrunner commented on #16
I'll try to get Xcode `11.X` this week and update the build script, I will keep you up to date.

[2020-09-07 10:05] LouisBrunner commented on #14
Oh sorry, I meant that when I was trying your code, I could see warnings but it wouldn't crash. Annoying, but still functional.

In any case, I have actually implemented these syscalls last month but didn't get around to release them. I have now pushed it on `master` so you should be able to upgrade valgrind and it should work without issues.

[2020-09-07 11:29] hanayashiki commented on #14
I reinstalled my valgrind to the latest version, there's another error
[code]

[2020-09-07 11:41] LouisBrunner commented on #14
I just tested it on my computer using macOS 10.15.6 and Xcode 10.15.6 and it works without crashing. What is the exact command line arguments you are using?

[2020-09-08 12:09] LouisBrunner commented on #16
@vamsikt, How did you install Xcode? I updated to 10.15.6 with the matching Xcode 11.7 and I still get a SDK version of 10.15.6

[2020-09-08 14:45] LouisBrunner commented on #10
@reuben I upgraded to 10.15.6 and couldn't replicate the issue. Are you seeing the same? Might just has been a glitch from the beta...

[2020-09-08 15:44] LouisBrunner commented on #16
I finally managed through downloading a beta version of Xcode 12. I just pushed the fix on `master`, feel free to upgrade `valgrind` and check.

[2020-09-11 00:02] vamsikt commented on #16
@LouisBrunner thank you, I was able to upgrade and install now.

[2020-09-11 11:46] #16 closed

[2020-09-11 16:33] NicMcPhee commented on #15
I'm guessing this is related to (or the same as) #10?

[2020-09-11 16:44] NicMcPhee commented on #10
I use `valgrind` in a university course, and because everyone's online, students are having to install the toolset on their own computers, which vary widely. I use a Mac, and my installation of this version of `valgrind` (via `brew`) works fine for me. One of my students (@iwata008) also has a Mac, and ends up similar output (& similar to #15), with loads of `dyls` output that I don't get. We have

[2020-09-11 18:02] LouisBrunner commented on #10
Hi @NicMcPhee,

This issue is specifically about a crash on a beta version of 10.15.6 while #15 is about extra warnings in OS libraries which Valgrind doesn't suppress (yet). For maximum support, it would be better for your student to create a new issue with their complete output.

On another note, Valgrind hasn't had macOS support since roughly 10.12 and while this fork allows some features, it i

[2020-09-11 18:11] LouisBrunner commented on #15
Hi @Anxdada,

As you can see in the stacktraces, these warnings come from the macOS system libraries themselves, which can originate because of false positives or potential bugs.

Valgrind solves this issue using _suppressions_. For each platform/version, it includes a list of such warnings to ignore as we cannot fix them. If you run Valgrind using `valgrind --gen-suppressions=all ./out`, it will

[2020-09-11 18:31] NicMcPhee commented on #10
Thanks a lot @LouisBrunner for the helpful feedback. We're "only" using it for basic memory leaks, so we don't need a lot, and at least my experience on my Mac was that your patched version worked fine. I was thus surprised when my student seemed to have a totally different experience when I thought we had essentially the same setup (at least where I thought it mattered).

I'm meeting with her aga

[2020-10-30 10:17] LouisBrunner opened #18 "Crash with PostgreSQL"
See mailing list: https://sourceforge.net/p/valgrind/mailman/message/37138683/

[2020-10-30 13:29] #10 closed

[2020-11-03 08:41] ncovercash opened #19 "Big Sur (macOS 11.0) compatibility"
Latest version of the repo and tap fails to compile on Big Sur with the following error:

[code]

[2020-11-06 19:30] windev92 opened #20 "not compiling with xcode 12.1 and command line tools 12"
cd valgrind-macos
./autogen.sh
./configure --prefix=/where/you/want/it/installed --enable-only64bit
make
sudo make install

/usr/local/bin/mpicc    -I../include  -g -O -fno-omit-frame-pointer -Wall -dynamic -arch x86_64 -Wno-deprecated-declarations  -MT libmpiwrap_amd64_darwin_so-libmpiwrap.o -MD -MP -MF .deps/libmpiwrap_amd64_darwin_so-libmpiwrap.Tpo -c -o libmpiwrap_amd64_darwin_so-libmpiwrap.o

[2020-11-16 02:55] DiegoMagdaleno commented on #19
+ 1 on this issue, even after fixing that it won't compile.

[2020-11-19 13:50] Nimon77 opened #21 "Library not loaded: /usr/lib/libSystem.B.dylib on Big Sur (macOS 11.0)"
When I want to start valgrind I got this message :
[code]
and if I checked libSystem is not present :
[code]

[2020-11-19 16:14] LouisBrunner commented on #21
Hi @Nimon77,

Big Sur is currently unsupported. (see #19)

[2020-11-19 16:14] #21 closed

[2020-11-20 09:10] MattiaMontanari commented on #19
+1

[2020-11-20 15:18] DiegoMagdaleno commented on #21
This is gonna be a big issue, this is due to a change Apple made where the system doenst have copies of the libraries anymore but rather a DYLD cache.

[2020-11-20 17:45] LouisBrunner commented on #21
This isn't the first time Apple has changed the way of doing dylib loading, it might still be possible to get it working, I'll definitely try when I have access to a Big Sur computer.

[2020-11-21 18:43] LouisBrunner commented on #19
I just pushed a fix on `master` which allows you to run valgrind (I tested it with Python3 and it seems to work correctly).
Note this implementation is a stop-gap and highly experimental, it might break/give incorrect results easily (I think debug information will be pretty lacking in general, e.g. missing symbol names in stack traces).

[2020-11-23 02:28] Nimon77 commented on #19
I just download the new version and like you just say, it doesn't work
[code]
[code]
[code]

[2020-11-23 12:05] LouisBrunner commented on #19
Yeah, we need more granular ranges on the task shared memory. Uninitialized values/jump still work though.

[2020-11-29 05:11] anta40 opened #22 "Valgrind detected no leak?"
Hi, just updated my Mac to BigSur.

I have gcc 11 installed via homebrew:

And also valgrind:

Let's try this C code (taken from [here](http://cs.ecs.baylor.edu/~donahoo/tools/valgrind/)). First, compile:

Then let valgrind do the work:

The output is:

I don't see any line mentioning leaks or statictics like shown in the link above.

[2020-11-29 11:32] LouisBrunner commented on #22
Hi @anta40,

Big Sur support is currently experimental, please refer to #19 for more information.

[2020-11-29 11:32] #22 closed

[2020-11-30 10:51] anta40 commented on #22
Ah very well. I guess I'll have to switch to Linux for this purpose.

[2020-12-05 19:18] karimvafin commented on #6
Hello, I installed valgrind from your repo, but it doesn't detect any allocs and frees (although I'm sure there should be about 100,000 of them). macOS 11 Big Sur. What could be the problem? TY
<img width="693" alt="Снимок экрана 2020-12-05 в 22 14 55" src="https://user-images.githubusercontent.com/74344009/101261307-54369100-3747-11eb-946e-a57f4ea7a78d.png">

[2020-12-05 19:22] karimvafin commented on #19
Hello, I installed valgrind from your repo, but it doesn't detect any allocs and frees (although I'm sure there should be about 100,000 of them). macOS 11 Big Sur. What could be the problem? TY
<img width="693" alt="Снимок экрана 2020-12-05 в 22 14 55" src="https://user-images.githubusercontent.com/74344009/101261461-6402a500-3748-11eb-8485-805d5bfe61b4.png">

[2020-12-05 23:22] LouisBrunner commented on #19
@karimvafin, as reported above, Big Sur support is experimental and leak-tracking doesn't work at the moment.

[2020-12-11 16:36] LouisBrunner commented on #19
Just wanted to share a quick progress update, I have now replicated dyld's cache loading logic and can retrieve dylibs from the cache. `dyld` uses `stat64` to check if a library is on disk before checking into the cache, so I use this as a hint (if they fail and the path look like a lib) and then check the cache myself.

I am now running into the following issues:
 * Valgrind is heavily geared aro

[2020-12-21 08:37] rex4539 opened #23 "valgrind not working on macOS Big Sur"
[code]

[2020-12-21 09:37] LouisBrunner commented on #23
@rex4539, Thank you for your report.

Issues with Big Sur are currently tracked as part of #19

[2020-12-21 09:37] #23 closed

[2020-12-21 09:39] rex4539 commented on #19
[code]

[2021-01-08 16:32] theosib opened #24 "Helgrind crash, assert fail"
Hi,

I'm trying to use Helgrind on Mac, and I get this crash very shortly after starting:

Helgrind: hg_main.c:4562 (void instrument_mem_access(IRSB *, IRExpr *, Int, Bool, Bool, Int, Int, Int, IRExpr *)): Assertion 'szB > 8 && szB <= 512' failed.

I'm guessing this is just something that hasn't been patched for macOS yet.

[2021-01-08 16:33] theosib commented on #24
This might be relevant. Not sure.

Thread 1: status = VgTs_Runnable (lwpid 771)
==4967==    at 0x108361801: _dispatch_alloc_continuation_from_heap (in /usr/lib/system/libdispatch.dylib)
==4967==    by 0x108361702: _dispatch_alloc_continuation_alloc (in /usr/lib/system/libdispatch.dylib)
==4967==    by 0x108348901: _dispatch_source_set_handler (in /usr/lib/system/libdispatch.dylib)
==4967==    by 0

[2021-01-08 19:24] prjoh opened #25 "Valgrind segfaults running threaded code under MacOS 10.14.6"
This seems to be a [historic bug](https://stackoverflow.com/questions/44990380/why-valgrind-segfaults-when-i-launch-a-new-thread) and is related to MacOS X `libsystem_pthread.dylib`.

This bug occurs on my system (Mac OS 10.14.6) when trying to run valgrind on a Qt for Python application.
Here the bug output:

[code]

[2021-01-08 23:04] LouisBrunner commented on #25
Hi @prjoh,

Thank you for your report! This is related to the lack of support for wqthread (#4), I have some patches in progress but nothing stable unfortunately. Please refer to the other issue for updates.

[2021-01-08 23:04] #25 closed

[2021-01-08 23:05] LouisBrunner commented on #24
Hi @theosib,

Thank your for your report! Could you give a reproducible test case and a bit more information? (full valgrind command line, a test program and macOS version)

[2021-01-08 23:07] prjoh commented on #25
Sorry for missing that report and thanks for the quick response!

[2021-01-12 04:04] Gamusren commented on #19
Is Official Valgrind still in the loop? I have tried contacting the dev members on the website to see their plan on MacOS update and the email turned out null.

[2021-01-12 10:44] dholmes-epcc-ed-ac-uk commented on #19
[code]

[2021-01-12 21:10] LouisBrunner commented on #19
@Gamusren A few devs are aware of this fork, I haven't tried to get it merged upstream in a while (often the issue is that too many regression tests fail). You can contact them through their [mailing list](https://www.valgrind.org/support/) or [Bugzilla](https://www.valgrind.org/support/bug_reports.html).

@dholmes-epcc-ed-ac-uk ???

[2021-01-14 07:46] real-or-random opened #26 "Random compilation failures, _vgPlain_get_thread_out_of_syscall"
I sometimes see this on Catalina (on Cirrus CI):
[code]

See full log here: https://cirrus-ci.com/task/6123684844797952?command=brew#L73

This happens only rarely (maybe once in 30 runs). Restarting the Cirrus CI task then usually just helps, so there's some non-deterministic thing going on.

 I can't say for sure that this is unrelated to the CI infrastructure but I believe it is: The VM image sh

[2021-01-15 11:04] real-or-random opened #27 "Offer bottles?"
Have you considered offering precompiled bottles? I've seen this blog post which explains that this is much easier now:
https://brew.sh/2020/11/18/homebrew-tap-with-bottles-uploaded-to-github-releases/

That would be nice and would help me (and possible others) who are using this valgrind fork on CI (where re-compiling it every time wastes time).

Feel free to close this if this is not in the scop

[2021-01-16 15:01] LouisBrunner commented on #27
Pre-compiled releases have been on my todo list for a while, that seems like an easy solution, I will definitely look into it.

The main issues with valgrind are: you have to set where it will be stored when building it (you can't move it to a random directory, etc) and each build is specific to the version of macOS it is built on. Neither of these are blockers but they make it harder to provide p

[2021-01-16 15:08] LouisBrunner commented on #26
Thanks for your report!

I have no clue where this could be coming from. I use GitHub actions to build and test valgrind, and while the tests are far from deterministic, I have never seen such a build failure.

If you can make sure there are _absolutely_ no changes between two builds (even order of the step if you are doing parallel builds, etc), I can dig further but it looks fairly normal/straig

[2021-01-18 15:59] real-or-random commented on #26
Ok, thanks for the quick reply. I don't think it's worth the time for me to dig in this further currently but I'll watch out for more of these failures.

[2021-01-30 20:28] zardini123 opened #28 "Provide more specificity in README regarding command-line tools update/install"
When attempting to install this beautiful macOS installment of valgrind on my macOS 10.14.6 machine, I was met with the same compile issues as https://github.com/LouisBrunner/valgrind-macos/issues/6.  Brew reported via an error that:
[code]
I ran the `softwareupdate` command, resulting in macOS Mojave security updates installing, and many others.  No command-line tools update ever was installed.

[2021-02-03 20:21] LouisBrunner commented on #28
Hi @zardini123,

Thanks a lot for this detailed report! Would you consider contributing the README changes yourself? I can do it too but I'd like to be sure it's as straight-forward and understandable as possible (which isn't my forte!).

[2021-02-09 01:50] zardini123 commented on #28
Sure thing!  I probably have time this weekend.  I'll write up a draft, and open a PR once ready to gather your ideas and suggestions!

Being I'm making changes to the README, I was wondering something.  What exactly is [the macOS 10.14.4 subsection](https://github.com/LouisBrunner/valgrind-macos#macos-10144) under section "tests" all about?  Should this instead list the resulting tests of Mojave

[2021-02-18 01:24] LouisBrunner commented on #28
Ah! One of the feedback I got when trying to get my patches merged upstream is that they break test (or in some cases, they make test which break silently break more explicitly).
So I started collecting a list of failing tests on different versions so I could check when changes were improving the situation or worsening it (so many tests are broken that it's not a question of "do all tests pass or

[2021-02-19 19:40] pmiloslavsky opened #29 "10.14.6 compile failure"
DaveiMac:mgr davev$ xcode-select --version
xcode-select version 2354.

    DaveiMac:mgr davev$ clang --version
Apple LLVM version 10.0.1 (clang-1001.0.46.4)
Target: x86_64-apple-darwin18.7.0
Thread model: posix
InstalledDir: /Library/Developer/CommandLineTools/usr/bin

DaveiMac:mgr davev$ brew tap LouisBrunner/valgrind
Updating Homebrew...
==> Auto-updated Homebrew!
Updated 1 tap (homebrew/cask).

[2021-02-21 15:57] tomadimitrie commented on #19
Hello, is there any news about this?

[2021-02-22 10:22] natjacques opened #30 "MacOS 11.2.1 - Error while installing with HomeBrew"
Hello there,

After a while googling and so, I can't achieve the installation with HomeBrew. I get the same error whatever I try.
Following the instructions given, everything goes well until the "make" (see console bellow).

Any idea? I don't think it's about the same matter as the already opened issue about BigSur so I created a new one.

Many thanks !!

`natjacques@MacBook-Pro-de-Nathan ~ % brew

[2021-02-22 20:23] Gerzer commented on #30
Does your MacBook Pro use Apple silicon, or does it have an Intel processor? I don't think that Valgrind runs at all on Apple silicon yet.

[2021-02-22 22:44] LouisBrunner commented on #30
@Gerzer is right, M1 is not supported and neither is Big Sur unfortunately (#19)

[2021-02-22 22:49] LouisBrunner commented on #19
Sorry for the lack of update, I haven't had time to sit down and work much on Big Sur compatibility lately. A lot of the time when working on macOS support, the difficulty for me is more around understanding what Valgrind is doing and what/why/how macOS has changed.
In this case, Valgrind needs to support a whole new system which means changing some of the design/architecture, writing a lot more c

[2021-02-22 23:40] joegasewicz commented on #19
Is there any alternative on MacOS whilst we wait for this fix? Thanks

[2021-02-23 02:04] a-soll commented on #19
`leaks` is all I know of.

[code]

[code]

[2021-02-23 18:27] natjacques commented on #30
Yes I am on Apple M1 chip processor. Thank you anyways!
Do you know any alternative for valgrind though?

[2021-02-23 19:42] rootbeersoup commented on #19
I'm under the impression Xcode's Instruments is supposed to fill Valgrind's shoes, though I haven't tried it myself yet.

For applicable projects, if you use `clang`, you can try its [LeakSantizer](https://clang.llvm.org/docs/LeakSanitizer.html). I couldn't get this to work with the system's compiler, but it works with Homebrew-installed `clang`. Clang's sanitizers are really nice since they provi

[2021-02-23 20:26] LouisBrunner commented on #30
@natjacques Some people have posted recommendations in #19, I personally don't have experience with any outside of Valgrind.

[2021-02-23 20:26] #30 closed

[2021-02-24 19:38] langmm commented on #20
This seems to be fixed when using the patch [here](https://bugs.kde.org/show_bug.cgi?id=401416#c3) that removes the use of deprecated MPI symbols (I don't know if there are replacement symbols that should be added to replace the removed lines). I have implemented this patch on my [fork](https://github.com/LouisBrunner/valgrind-macos/compare/master...langmm:master) (it also includes the addition of

[2021-02-27 00:43] joegasewicz commented on #19
@rootbeersoup @a-soll Thanks for the info guys, really helpful!

[2021-03-21 21:48] tfmorris commented on #19
I'm not sure if it can be used as a stopgap, but this article describes how to extract the system libraries from the cache on Big Sur: https://lapcatsoftware.com/articles/bigsur.html

[2021-03-21 21:51] tfmorris opened #31 "Deprecated install method no longer works"
I don't think it needs to be made to work, but it should probably be removed from the Readme.

[code]
I doubt the o/s version makes a difference, but it's Mac OS Big Sur 11.2.3

[2021-03-25 02:08] DawnMagnet opened #32 "Fain"

[2021-03-25 02:08] #32 closed

[2021-03-25 02:10] DawnMagnet opened #33 "Failed to build on MacOS(BigSur 11.1) M1 Chip"
❯ brew install --HEAD LouisBrunner/valgrind/valgrind

==> Installing valgrind from louisbrunner/valgrind
==> Cloning https://github.com/LouisBrunner/valgrind-macos.git
Updating /Users/dawnmagnet/Library/Caches/Homebrew/valgrind--git
==> Checking out branch master
Already on 'master'
Your branch is up to date with 'origin/master'.
HEAD is now at adaae87 Merge branch 'development'
==> ./autogen.sh
=

[2021-03-25 20:23] LouisBrunner commented on #33
Hi,

Valgrind is currently unsupported on both Big Sur and Apple M1 (#19).

[2021-03-25 20:23] #33 closed

[2021-04-06 01:46] FdoTorres1 commented on #29
I am having the same problem, ran the software update command and still doesn't work. Running valgrind on console shows that valgrind command is not found. Any solutions? I'm in Mojave 10.14.6

[2021-04-15 13:01] PKua007 opened #35 "Compilation error on 10.15.7 (both brew and manual compilation)"
Hi!

I have tried to install valgrind on macOS Catalina 10.15.7, both using brew and manually cloning and compiling. In both cases I am getting the same 2 errors:

[code]

`gcc --version` gives:

[code]

For both installation methods I followed the instructions from [https://stackoverflow.com/a/61359781/7146406](url). I am more than happy to share more information if needed.

Cheers!

[2021-04-18 15:26] LouisBrunner commented on #31
Hi @tfmorris,

Thanks for your report, would you consider making a PR to fix that?

[2021-04-18 15:36] LouisBrunner commented on #19
@tfmorris, a bunch of system seem to exist to extract this information, Apple even ships a function to do that as part of dyld (you just have to build the code at the end of this file yourself: https://opensource.apple.com/source/dyld/dyld-750.6/launch-cache/dsc_extractor.cpp.auto.html). I guess you could technically extract them in `/usr` and it might just work? (not sure how good a thing that is

[2021-04-18 15:37] LouisBrunner commented on #35
Hi @PKua007,
I don't have a macOS 10.15 computer around anymore, but I'll try take a look.

[2021-04-18 15:39] LouisBrunner commented on #29
Hi @pmiloslavsky,

Thank you for your report. I am currently focusing on Big Sur support when it's finished, I will test the latest master on my old 10.14 to sort that out.

[2021-04-18 15:43] LouisBrunner commented on #14
Feel free to reopen if you have a command which can trigger this bug

[2021-04-18 15:43] #14 closed

[2021-04-18 15:44] LouisBrunner commented on #13
This is probably due to my erroneous `msgh_trailer_type` handling fix (which has been reverted), reopen if you get the issue again

[2021-04-18 15:44] #13 closed

[2021-04-18 15:45] LouisBrunner commented on #20
@windev92,
Which version of macOS were you using?

[2021-04-19 16:39] windev92 commented on #20
bigsur
________________________________
From: Louis Brunner ***@***.***>
Sent: Sunday, April 18, 2021 5:45 PM
To: LouisBrunner/valgrind-macos ***@***.***>
Cc: windev92 ***@***.***>; Mention ***@***.***>
Subject: Re: [LouisBrunner/valgrind-macos] not compiling with xcode 12.1 and command line tools 12 (#20)

@windev92<https://github.com/windev92>,
Which version of macOS were you using?

—
You are r

[2021-04-21 11:08] dkfellows opened #36 "Failure on Tcl"
When running valgrind on [tclsh](/tcltk/tcl) (trying to analyse whether I've got some code right that I'm working on) I get this:

    --42281-- WARNING: unhandled amd64-darwin syscall: unix:228

According to [this](/apple/darwin-xnu/blob/main/bsd/kern/syscalls.master), that's the `fgetattrlist()` system call. It'd be nice if this worked. (I can't identify what code is actually calling that; it's

[2021-04-23 22:54] Hpixpoke commented on #35
Hey,
I also run 10.15.7, but it compiled successfully for me (I used brew). My output of `gcc --version` gives:
[code]
Note that I have clang 12 and the full Xcode installation. Maybe try updating llvm using brew first, if that doesn't help, try again after installing Xcode.

[2021-04-25 14:41] nmosier opened #37 "Illegal instruction error for SSE4 instructions on self-hosting 32-bit build"
I built valgrind with the following:
`./configure --enable-only32bit --enable-inner`
and the build succeeded (I'm on macOS 10.14 w/ a 32-bit SDK).

However, when I run valgrind on any program, it aborts with the following error:
[code]

(`../tmp` is a 32-bit program that does nothing.)
The instruction it's complaining about is an SSE4 instruction.
Any way to fix this? I need to be able to use valg

[2021-06-24 11:22] Cloudef commented on #9
Thank you for your hard work.

[2021-06-27 10:41] ernesernesto commented on #4
I'm not sure If this is the right place to ask this, is there any tool that can be used to detect memory leak beside valgrind? Because of wqthread issues it's impossible to check multithread app with valgrind in osx according to this https://bugs.kde.org/show_bug.cgi?id=380269 which might be related, link is already 4 years old and I guess it's safe to assume it would not be fixed shortly

[2021-07-06 12:58] dscho opened #38 "unhandled amd64-darwin syscall: unix:464"
When I tried to [use this in a GitHub workflow](https://github.com/dscho/git/runs/2998707603?check_suite_focus=true#step:5:63), I was greeted with this error:

A quick web search suggests that the bug was already logged at https://bugs.kde.org/show_bug.cgi?id=390269 and that the root cause is that the `openat_nocancel()` syscall is not handled. However, there seems to be no movement on that ticket

[2021-07-30 20:05] 66Ton99 commented on #19
Hi, any progress here?
Thanks!

[2021-08-13 14:51] pannous opened #39 "error: unknown type name _STRUCT_X86_DEBUG_STATE64"
[code]

[2021-08-23 18:04] LouisBrunner commented on #38
Hi @dscho,

Thanks for the report, this should be an easy fix (hopefully!)

No guarantee you won't run into other issues though!

[2021-08-23 18:06] LouisBrunner commented on #37
Hi @nmosier,

Thanks for the report! That's really odd... could you get me the version of your Xcode, SDK, etc so I could replicate it on my own 10.14?

[2021-08-23 18:08] LouisBrunner commented on #39
Hi @pannous,

Could you give a bit more details? e.g. your macOS version, Xcode, SDK, etc

[2021-08-23 18:09] LouisBrunner commented on #36
Hi @dkfellows,

Thanks for your report, that should be an easy fix (hopefully!)

[2021-08-23 19:32] dscho commented on #38
Do you think I could help? If you give me any pointers, I could try to find some time tomorrow to work on it.

[2021-08-23 22:11] LouisBrunner commented on #38
You can try for sure, here are the key elements:

* Add a define for the syscall in https://github.com/LouisBrunner/valgrind-macos/blob/master/include/vki/vki-scnums-darwin.h#L782 (gated behind 10_15 or 11_00, whichever you use)
* Declare the handler in https://github.com/LouisBrunner/valgrind-macos/blob/master/coregrind/m_syswrap/priv_syswrap-darwin.h#L580 (same ifndef)
* Register the handler in

[2021-08-28 13:31] LouisBrunner commented on #6
@karimvafin @mkjun14 As stated in #19, Big Sur is still unsupported.

[2021-08-31 12:51] #31 closed

[2021-08-31 13:19] #36 closed

[2021-08-31 13:19] #38 closed

[2021-09-01 10:42] dscho commented on #38
Thank you! And sorry for not getting around to try to fix this myself...

[2021-09-01 14:54] LouisBrunner commented on #38
No worries, it's an easy fix ;)

[2021-09-17 20:42] EliasC commented on #39
A hypothesis is that this is due to trying to compile on a mac using the new M1-chip (which is not X86).

[2021-09-20 22:44] Nachrj opened #42 "valgrind doesnt work in a project I'm working"
Hello,
I'm working on a dynamic vector for an assignment from college, and I need to use valgrind for memory errors.
The same file in Ubuntu using native valgrind gives me the error of 11 allocs, 11000 frees and using this version
in my Macbook Pro running macOS Big Sur 11.6 it says 0 allocs, 0 frees.
I'm attaching the files im working with, it's in spanish.
Thanks

PD: It should work by adding th

[2021-09-21 10:49] mortie commented on #39
I'm on an M1 MacBook Air, and I'm also experiencing this:

[code]

Installing works perfectly fine under Rosetta 2. For anyone else experiencing this problem, a workaround for the time being is to install Homebrew for x86_64 (can be installed alongside the arm64 version by doing something like what this guide suggests: https://stackoverflow.com/a/68443301/1578823), then install `LouisBrunner/valgr

[2021-09-21 15:05] Gerzer commented on #42
Valgrind doesn't yet support macOS 11 Big Sur and newer. (This is being tracked in issue #19.) If you need a memory debugger that supports macOS 11 Big Sur, then check out [Dr. Memory](https://github.com/DynamoRIO/drmemory) in the meantime.

[2021-09-21 15:09] LouisBrunner commented on #42
Thanks for the reply @Gerzer, this is entirely correct.

[2021-09-21 15:10] LouisBrunner commented on #39
Oh right, I think it rings a bell from when I tried to see what failed on M1.

As you mentioned @Gerzer, Big Sur support needs to come first before considering M1 support (but it's on my roadmap for sure).

[2021-09-21 17:50] Franco-Losardo opened #43 "Doesn't show the line where memory has been leaked"
I have MacOS catalina 10.15.7, and xcode 12.4 installed. Whenever I have some kind of memory leak, valgrind doesn't show me the line where the leak was found. Example:
[code]

It should return somthing like `-Error type- by -memory address-: main line 2...`. And for this example what I get is the following picture(executed valgrind with the following flags: `valgrind --leak-check=full --track-orig

[2021-09-21 20:08] Franco-Losardo commented on #43
Fixed! I use the old but very reliable method of uninstalling and installing again valgrind, and now works. It does show me the line where memory was asked for. I also updated homebrew so it must have been something related to valgrind and/or homebrew. Thank you Louis for making valgrind compatible with catalina 😀 !!

[2021-09-21 20:08] #43 closed

[2021-09-22 10:48] LouisBrunner commented on #43
Hi @Franco-Losardo,

I am happy to hear that you fixed your issue!

For future reference, it looks like it could be linked to you compiling your program (`programa`) without `-g` to include debug information.

[2021-09-29 07:05] AsteriskZuo commented on #35
I also same question too.

[code]

[2021-09-29 07:17] AsteriskZuo commented on #35
I found a memory leak detection tool similar to valgrind  —— leaks.
[code]

[2021-09-30 12:37] fzyzcjy commented on #19
Hi is there any progress? valgrind is so helpful!

[2021-10-12 13:28] jakcharvat opened #44 "macOS 12 (Darwin 21) compatibility"
[code]

Running the root `configure` script ends in a `configure: error: Valgrind works on Darwin 10.x-20.x (Mac OS X 10.6-10.11 and macOS 10.12-11.0)`. On x86_64 macOS 12 beta 9 (21A5543b).

[2021-10-19 09:35] hellotommmy opened #45 "Can't get leak details"
On my mac with os version 10.15.7 (19H1323),
I could not get details of a leak, only leak summary is available.
A minimum example would be
[code]
If I compile this with
`g++ -std=c++11 -o simple -g simple.cpp`
And run
`
valgrind ./simple
`
I got

[code]
And adding the `--leak-check=full` flag does not help.  `--track-origins=yes` does not help either.
Am I missing something?
Thanks a lot for your

[2021-11-08 11:49] sudo-gera opened #46 "macos 12 monterey"
cannot install on macos monterey 12.1
error: Valgrind works on Darwin 10.x-20.x (Mac OS X 10.6-10.11 and macOS 10.12-11.0)

[2021-11-12 15:17] LouisBrunner commented on #45
Which version of Xcode are you using?

[2021-11-12 15:17] LouisBrunner commented on #44
I am still working on 11.0 support at the moment, hopefully 12.0 will be fairly straight-forward.

[2021-11-12 15:18] LouisBrunner commented on #46
Duplicate of #44

[2021-11-12 15:18] #46 closed

[2021-11-12 15:20] LouisBrunner commented on #19
Just a quick update: I am still working on this in the background and made some progress but not to a point where valgrind can properly parse the dyld cache in order to read symbols (which is what is required to get leak tracking, etc). As always, I will post update here when I get past the current hurdles.

[2021-11-15 15:06] hellotommmy commented on #45
I am not using Xcode, just plain terminal command line.

[2021-11-16 12:18] ctrlpz commented on #45
Hello,
I think I have the same issue. I have installed Valgrind in MacOS Big Sur (11.6.1) and when I run this code in the command line

`#include <stdlib.h>

  void f(void)
  {
     int* x = malloc(10 * sizeof(int));
     x[10] = 0;        // problem 1: heap block overrun
  }                    // problem 2: memory leak -- x not freed

  int main(void)
  {
     f();
     return 0;
  }`

I do not g

[2021-11-16 19:54] LouisBrunner commented on #45
@ctrlpz Big Sur is not supported at the moment (#19)

@hellotommmy You are still using Xcode to build your binary (unless you have explicitly replaced it with an actual `gcc` which is unlikely and in which case you are still using Xcode for system libraries)
If you run `xcodebuild -version` and `sw_vers` and give me the result I might be able to help

[2021-11-17 15:22] hellotommmy commented on #45
Sorry about that--I didn't know.

Running xcodebuild -version gives me
Xcode 12.3
Build version 12C5020f

and sw_vers gives me
ProductName:	Mac OS X
ProductVersion:	10.15.7
BuildVersion:	19H1323

Thanks you :)

[2021-12-01 09:24] hadar3 opened #47 "m1 on Monterey doesn't work."
I tried running it on Mac with apple silicon (m1) with Monterey and it didn't work.

[2021-12-01 09:26] hadar3 commented on #47
will it work for 10 or 11?

[2021-12-01 18:57] LouisBrunner commented on #45
@hellotommmy That's no worries at all, I just wanted to make sure if you weren't using another compiler somehow :)

This is a bit odd, it might just be how we check the Xcode/kernel version but it looks like Xcode 12 should be fine (?)

[2021-12-01 19:01] LouisBrunner commented on #39
Will close this in favor of #19 for now

[2021-12-01 19:03] #47 closed

[2021-12-28 18:24] gsq7474741 commented on #44
@LouisBrunner how can I make some contributions on support 12.0

[2022-01-09 14:41] rahmed42 commented on #44
Hello, is this solution good for MacOS12 ? Or i Will break something. https://stackoverflow.com/questions/69792467/memory-check-on-macos-12-monterey

[2022-01-19 10:51] hellotommmy commented on #45
Is there a way I could change to a different compiler and hopefully see different results?

[2022-01-21 07:06] hilga007 commented on #19
Checking in to mention the issue persists on Monterrey as well.

[2022-02-12 11:00] LouisBrunner commented on #45
If you could get a earlier version of Xcode I think it might work

[2022-03-25 08:42] xiaoyang2000 commented on #21
Finally,how do you solve this problem?

[2022-05-01 10:40] mlbonniec commented on #44
Hi :) is there some update about macOS Monterey 12 compatibility ? I tried to install your version of valgrind, but it always says it's incompatible. :(

[2022-08-09 11:19] Kek5chen commented on #19
I'd also be very happy if this would become a thing

[2022-09-27 17:59] nxoo971 opened #53 "Mojave 10.14.6 - cant get leaks"
Bonjour, je suis sur mojave et ton valgrind ne fonctionne pas, avec un test banal comme char * a = malloc(10);
Voici le retour de ton valgrind:
[code]
Et avec le flag --leak-check=full
[code]
Comment faire ?? Cette version de mac est plutôt ancienne pourtant .. pourquoi ça marche pas ??
Merci

[2022-10-13 23:11] #53 closed

[2022-10-21 19:12] paulocoutinhox commented on #44
It still incompatible:

[code]

[2022-10-25 17:32] Nexer8 commented on #19
Does the release of macOS 13 change anything in this matter?

[2022-11-03 11:38] MalwarePup opened #54 "Ventura (macOS 13.0) compatibility"
Hello,

Following the issues #19 and #44 same error on macOS 13.0.

`configure: error: Valgrind works on Darwin 10.x-20.x (Mac OS X 10.6-10.11 and macOS 10.12-11.0)`

[2022-11-08 01:22] DevRadion commented on #54
same problem(

[2022-11-20 17:20] gilaroni opened #56 "M1/M2 Compatibility"
will there be a version for m1?

[2022-11-21 13:10] huangfeifan opened #57 "m2 air error"
huangff@192 ~ % install --HEAD LouisBrunner/valgrind/valgrind
install: illegal option -- -
usage: install [-bCcpSsv] [-B suffix] [-f flags] [-g group] [-m mode]
               [-o owner] file1 file2
       install [-bCcpSsv] [-B suffix] [-f flags] [-g group] [-m mode]
               [-o owner] file1 ... fileN directory
       install -d [-v] [-g group] [-m mode] [-o owner] directory ...
huangff@19

[2022-11-30 03:29] edsiper opened #58 "Let's make Valgrind run on macOS 13 / m1"
hi,

I think Valgrind is such a great tool but the lack of constant support for macOS 13 adds a lot of complications.

Our company, would be happy to sponsor the work to get running binaries for macOS Ventura. Please DM me to discuss details: eduardo at calyptia dot com.